<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CNCGEditors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CNCGEditors.Properties.Settings>
            <setting name="AdvancedMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteCsfLabelsConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWarp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsfLabels_SortBy_Name" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsfLabels_SortBy_Index" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsfFilesHistory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsfFileVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CsfFileLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CsfFileUnused" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CsfFileLanguagesSortByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsfFileAppendExtraBytes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteCsfStringsConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
        </CNCGEditors.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
